<main class="container text-center">
  <div class="img__container--profil m-auto mt-50">
    <img
      src="/img/profile-photo-sqr.png"
      alt="Photo de Profil"
      class="img-fluid img-profil"
    />
  </div>
  <h1>Editer Profil</h1>
 
  
  </div>
  <form action="/updateUser?_method=put" method="post">
    <div class="mb-35 text-center">
      <div>
        <label for="nomUtilisateur">Nom d'Utilisateur :</label>
      </div>
      <input
        type="text"
        name="nomUtilisateur"
        class="input"
        aria-label="nom"
        value="<%= nomUtilisateur %>"
      />
    </div>
    <div class="mb-35 text-center">
      <div>
        <label for="adresse">Adresse :</label>
      </div>
      <input
        type="text"
        name="address"
        class="input"
        aria-label="adresse"
        value="<%= address %>"
      />
    </div>
    <div class="mb-35 text-center">
      <div>
        <label for="adresse">Email :</label>
      </div>
      <input
        type="email"
        name="email"
        class="input"
        id="email"
        aria-label="email"
        value="<%= email %>"
      />
    </div>
    <div class="mb-35 text-center">
      <div>
        <label for="adresse">Phone :</label>
      </div>
      <input
        type="text"
        name="phone"
        class="input"
        aria-label="telephone"
        value="<%= phone %>"
      />
    </div>
    <div class="mb-35 text-center">
      <button class="btn__submit" id="connectBtn" type="submit">
        Enregistrer
      </button>
    </div>
  </form>

  <div class="my-80"></div>
</main>











<!-- <main>
  <div class="containerProfil">
    <div class="menu">
      <nav>
        <form action="/profil" method="get">
          <button class="navProfil" type="submit">Profil</button>
        </form>
        <form action="/feed" method="get">
          <button type="submit">Feed</button>
        </form>
        <form action="" method="get">
          <button type="submit">Messages</button>
        </form>
        <form action="/ami" method="get">
          <button type="submit">Amis</button>
        </form>
      </nav>
      <img src="/img/carte.png" alt="Carte de mes amis" />
    </div>
    <div class="profilPage">
      <form class="topPartProfil" action="/updateUser?_method=put " method="post">
        <div class="imgEtIcone">
          <img
            class="bigImgUtilisateur"
            src="/img/imageUtilisateur.png"
            alt="img utilisateur"
          />
          <div class="icone3">
            <img src="/img/iconeSkis.png" alt="skis" />
            <img src="/img/iconeBiere.png" alt="bière" />
            <img src="/img/iconeMaison.png" alt="maison" />
          </div>
        </div>
        <div>
          <div class="formProfil">
            <div>
              <label for="nomUtilisateur">Nom : </label>
              <input
                type="text"
                name="nomUtilisateur"
                value="<%= nomUtilisateur %>"
              />
              
            </div>
            <img
              class="woodSeparation"
              src="/img/plancheHeader.png"
              alt="wood"
            />
            <div>
              <label for="address">Adresse : </label>
              <input type="text" name="address" value="<%= address %>"/>
            </div>
            <img
              class="woodSeparation"
              src="/img/plancheHeader.png"
              alt="wood"
            />
            <div>
              <label for="email">Email : </label>
              <input type="text" name="email" value="<%= email %>" />
            </div>
            <img
              class="woodSeparation"
              src="/img/plancheHeader.png"
              alt="wood"
            />
            <div>
              <label for="phone">Numéro de téléphone : </label>
              <input type="text" name="phone" value="<%= phone %>"/>
            </div>
          </div>
        </div>
        <div class="validFormProfil">
          <button type="submit">Enregistrer</button>
        </div>
      </form>
      <div>
        <div class="navSpotDansProfil">
          <ul>
            <li>Mes spots</li>
            <li>Spots favoris</li>
          </ul>
          <img class="woodSeparation" src="/img/plancheHeader.png" alt="wood" />
        </div>
        <div class="profilListeSpots">
          <div class="spotCourtModifiable">
            <img
              class="imgUtilisateurSpotCourt"
              src="/img/imageUtilisateur.png"
              alt="img utilisateur"
            />
            <p>Nom du spot</p>
            <img
              class="threeDots"
              src="/img/troisPoints.png"
              alt="trois points"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="js/signOut.js"></script>
<script src="js/scriptAffichageProfil.js"></script>
<script src="js/updateNom.js"></script> -->
