<main class="container text-center">
    <div class="img__container--profil m-auto mt-50">
      <img
        src="/img/mountain.png"
        alt="Photo du spot"
        class="img-fluid img-profil"
      />
    </div>
    <h1 class="mt-20"><%= name %></h1>
    <% if (address != '') {%>
    <div class="mt-15"><%= address %></div>
    <% } %>
    <div class="mt-15"><%= difficulty %></div>
    <% if (description != '') { %>
    <div class="mt-15"><%= description %></div>
    <% } %>
    <a href="/feed/" class="btn__submit">Retour Aux Spots</a>

    <div class="my-80"></div>
  </main>




<!-- <main class="containerFeedDescription">
    <img class="imgWoodV" src="/img/plancheVertical.png" alt="Wood">
    <div class="spotAff">
        <div class="spotAffLeft">
            <div>
                <h1><%= name %></h1>
            </div>
            <div class="containerAffImgDiff">
                <div>
                    <img class="imgSpot" src="/img/imgSpot.jpg" alt="image du spot">
                </div>
                <div>
                    <div class="nivDiff">
                        <p><b>Niveau de difficulté:</b></p>
                        <p class="affDiffSpot"><%= difficulty %></p>
                    </div>
                    <div class="affAuteurSpot">
                        <p><b>Auteur du Spot:</b></p>
                        <div>
                            <img class="imgUserSpot" src="/img/imageUtilisateur.png" alt="Icône de profil">
                            <p>Auteur du Spot ejs ici</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p>Description:</p>
                <p class="descriptionSpot"><%= description %></p>
            </div>
        </div>
        <div class="spotAffRight">
            <div class="spotAffMap">
                <p>Emplacement:</p>
                <img src="/img/carteVide.png" alt="image de la carte">
                <p class="descriptionAddress"><%= address %></p>
            </div>
        </div>
    </div>
    <img class="imgWoodV" src="/img/plancheVertical.png" alt="Wood">
    <form class="spotAffQuit" action="/feed">
        <button><img src="/img/plusButton.png" alt="X"></button>
    </form>
</main> -->