<main>
  <div class="containerProfil">
    <div class="menu">
      <nav>
        <form action="/profil" method="get">
          <button class="navProfil" type="submit">Profil</button>
        </form>
        <form action="/feed" method="get">
          <button type="submit">Feed</button>
        </form>
        <form action="" method="get">
          <button type="submit">Messages</button>
        </form>
        <form action="/ami" method="get">
          <button type="submit">Amis</button>
        </form>
      </nav>
      <img src="/img/carte.png" alt="Carte de mes amis">
    </div>
    <div class="profilPage">
      <div class="topPartProfil">
        <div class="imgEtIcone">
          <img class="bigImgUtilisateur" src="/img/imageUtilisateur.png" alt="img utilisateur">
          <div class="icone3">
            <img src="/img/iconeSkis.png" alt="skis">
            <img src="/img/iconeBiere.png" alt="bière">
            <img src="/img/iconeMaison.png" alt="maison">
          </div>
        </div>
        <div class="textZoneProfil">
          <div class="profilNameBar">
            <p><%= nomUtilisateur %></p>
            <a href="/profil/edit">
              <button type="submit">
                <img src="/img/crayonModifier.png" alt="modifier">
              </button>
            </a>
          </div>
          <img class="woodSeparation" src="/img/plancheHeader.png" alt="wood">
          <p>Adresse : <%= address %></p>
          <img class="woodSeparation" src="/img/plancheHeader.png" alt="wood">
          <p>Email : <%= email %></p>
          <img class="woodSeparation" src="/img/plancheHeader.png" alt="wood">
          <p>Numéro de téléphone : <%= phone %></p>
          <form action="/ajouterAmi/<%= id %>" method="post">
            <button type="submit">
              ajouter un ami
            </button>
          </form>
        </div>
      </div>
      <div>
        <div class="navSpotDansProfil">
          <ul>
            <li>Mes spots</li>
            <li>Spots favoris</li>
          </ul>
          <img class="woodSeparation" src="/img/plancheHeader.png" alt="wood">
        </div>
        <div class="profilListeSpots">
          <div class="spotCourtModifiable">
            <img class="imgUtilisateurSpotCourt" src="/img/imageUtilisateur.png" alt="img utilisateur">
            <p>Nom du spot</p>
            <img class="threeDots" src="/img/troisPoints.png" alt="trois points">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="js/signOut.js"></script>
<script src="js/updateNom.js"></script>

          
          
       
           