<main class="container text-center">
  <div class="img__container--profil m-auto mt-50">
    <img
      src="/img/profile-photo-sqr.png"
      alt="Photo de Profil"
      class="img-fluid img-profil"
    />
  </div>
  <h1 class="mt-20"><%= nomUtilisateur %></h1>
  <% if (address != '') {%>
  <div><%= address %></div>
  <% } %>
  <div><%= email %></div>
  <% if (phone != '') { %>
  <div><%= phone %></div>
  <% } %> <% if(myProfile){ %>
  <button type="submit" class="btn__dark-violet mt-30">
    <a href="/profil/edit" class="href__none">Editer Profil</a>
  </button>


  
  <% } %> <% if(!myProfile){ %>
  <form action="/ajouterAmi/<%= id %>" method="post">
    <% let ami = false; %> <% friendsCompare.forEach(function(friend){ %> <%
    if(id == friend.id && ami == false){ %> <% ami = true; %> <% } %> <% }); %>
    <% if(ami == true){ %>
    <button class="mt-10 button__disabled" disabled>Ajouter comme ami</button>
    <% } else if (ami == false) { %>
    <button class="btn__dark-violet mt-10">Ajouter comme ami</button>
    <% } %>
  </form>
  <% } %>


  <h2 class="title__amis mt-90">Amis</h2>
  <div class="amis row gx-80">
    <% if(friends){ %> 
    <% friends.forEach(function(friend){ %>
    <div class="card__border mt-80" style="width: 33%">
      <div class="img__container--ami">
        <a href="/getAmiProfil/<%= friend.id %>">
          <img src="/img/friend-1.png" class="card-img-top" alt="Friend" />
        </a>
      </div>
      <div class="card-body">
        <p class="card-text my-50"><a href="/getAmiProfil/<%= friend.id %>" class="link__ami"><%= friend.name %></a></p>
        <% if(myProfile){ %> 
          <form action="/supprimerAmi/<%= friend.id %>?_method=delete" method="post">
            <button type="submit" class="btn__dark-violet">Retirer des amis</button>
          </form>
        <% } %>
      </div>
    </div>
    <% });} %> 
  </div>
</main>

<script src="js/signOut.js"></script>
<script src="js/updateNom.js"></script>